name: Playwright Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

permissions:
  contents: write # Needed for GitHub Pages deployment
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npx playwright test --reporter=html

      # --- Upload to GitHub Pages ---
      - name: Upload Report to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: playwright-report/

  deploy:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4

